{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="" class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                   <input type="search" class="form-control form-control-borderless" name="item-name" id="">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success" >Rechercher</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% for product in products %}

<h2>{{ product.name }}</h2>
<img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 150px;">
<a href="{{ product.get_absolute_url }}">Voire l'article</a>
{% endfor %}


{% endblock content %}